<h1>Log In</h1>

<form method="POST" action="/auth/signin">

    <div class="form-groupe">
        <label> Email Address </label>
        <input type="email" name="emailAddress" class="form-control">
    </div>

    <div class="form-groupe">
        <label> Password </label>
        <input type="text" name="password" class="form-control">
    </div>

    <br>

    <div>
        <button type="submit" class="btn btn-primary"> Sign In</button> 
    </div>
</form>