
<form method="post" action="/post/add">

    <div>
        <label>Topic</label>
        <select type="text" name="topic">
            <option value="GeneralTalk">General Talk</option>
            <option value="TechnicalCommunication">Technical Communication</option>
            <option value="CareersWorld">Careers World</option>
          </select>
    </div>

    <div>
        <label>Title</label>
        <input name="title" type="text">
    </div>

    <div>
        <label>Content</label>
        <textarea name="content"></textarea>
    </div>

    <button type="submit">Post</button>

</form>